@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.content{
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1800px;
    
    margin: auto;
}

.films{
    font-family: 'Poppins', sans-serif;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


.films .title::after{
    content: "Watch Now";
}
.films .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px; 
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.films .carousel .card:hover{
    background: crimson;
}
.films .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    transition: all 0.3s ease;
}
.films .carousel .card:hover .box{
    transform: scale(1.05);
}

.films .carousel .card .text{
    font-size: 20px;
    font-weight: 1000;
    margin: 10px 0 7px 0;
    color:crimson;
    
}
.films .carousel .card:hover .text{
    color:#fff;
}

.films .carousel .card .text2{
    font-size: 20px;
    font-weight: 700;
    color:#222;
    margin:5px;

    
}
.films .carousel .card:hover .text2{
    color:#222;
}
.films .carousel .card img{
    height: 400px;
    width: 250px;
    object-fit: cover;
    border: 3px solid crimson;
    transition: all 0.3s ease;
}
.films .carousel .card:hover img{
    border-color: #fff;
}


.films .carousel .card:hover .btn-danger{
    border: 2px solid #fff;
}
.btn-danger{
    display: inline-block;
    color: #fff;
    background: crimson;
    border: 2px solid crimson;
    font-size: 12px;
    padding: 10px 25px;
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.btn-danger:hover{
    color: #fff(245, 40, 40);
    border: 2px solid #fff;
    background:#222;
    
}

.bouttons{
    display: flex;
    justify-content: space-between;
    
}

.btnAction{
    display: inline-block;
    color: #222;
    padding: 2px;
    border: 2px solid #222;
    text-align: center;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: cornflowerblue;
}
.btnAdventure{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: plum;
}
.btnFantasy{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: violet;
}
.btnHorror{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: red;
}
.btnComedy{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: pink;
}
.btnThriller{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: yellowgreen;
}
.btnDrama{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: turquoise;
}
.btnHistory{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: yellow;
}
.btnBiography{
    display: inline-block;
    color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: orange;
}

.genreStyle{
    align-items: center;
}
.container-fluid{
    padding: 12px 30px;
}
